<div class="container">
    <div class="footer-inner">
        <div class="footer-containers">
            <div class="footer-container--left">
                <!-- Logo -->
                <div class="logo">
                    <div class="logo__icon-wrap">
                        <a href="mailto:trunghoang.240500@gmail.com">
                            <img
                                src="./assets/icons/email-icon.svg"
                                alt=""
                                class="logo__icon"
                            />
                        </a>
                    </div>
                    <h2 class="logo__text">Portfolio</h2>
                </div>
                <p class="footer-left__copyright">
                    Copyright © 2022 UIHUT all rights reserved.
                </p>
                <div class="footer-left__socials">
                    <img
                        src="../assets/icons/fb-icon.svg"
                        alt=""
                        class="footer-left__social"
                    />
                    <img
                        src="../assets/icons/in-icon.svg"
                        alt=""
                        class="footer-left__social"
                    />
                    <img
                        src="../assets/icons/twiter-icon.svg"
                        alt=""
                        class="footer-left__social"
                    />
                </div>
            </div>

            <div class="footer-container--right">
                <div class="footer-container__wrap">
                    <div>
                        <h3 class="footer-name">Linkes</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="" class="footer__link">Project</a>
                            </li>
                            <li>
                                <a href="" class="footer__link">Journey</a>
                            </li>
                            <li>
                                <a href="" class="footer__link">Service</a>
                            </li>
                            <li>
                                <a href="" class="footer__link">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="footer-name">Features</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="" class="footer__link">Style guide</a>
                            </li>
                            <li>
                                <a href="" class="footer__link">Instructions</a>
                            </li>
                            <li>
                                <a href="" class="footer__link">Catelog</a>
                            </li>
                            <li>
                                <a href="" class="footer__link">Your podcast</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer-container__wrap">
                    <div>
                        <h3 class="footer-name">Company</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="" class="footer__link">Privacy</a>
                            </li>
                            <li>
                                <a href="" class="footer__link">Terms</a>
                            </li>
                            <li>
                                <a href="" class="footer__link">Security</a>
                            </li>
                            <li>
                                <a href="" class="footer__link">Cookies</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="footer-name">Language</h3>
                        <ul class="footer-list footer-list__img">
                            <li class="footer-list__item">
                                <img
                                    src="../assets/img/html-logo.webp"
                                    alt=""
                                    class="footer__link-img"
                                />
                                <p class="footer__link-text">Html</p>
                            </li>
                            <li class="footer-list__item">
                                <img
                                    src="../assets/img/css-logo.webp"
                                    alt=""
                                    class="footer__link-img"
                                />
                                <p class="footer__link-text">Css</p>
                            </li>
                            <li class="footer-list__item">
                                <img
                                    src="../assets/img/js-logo.png"
                                    alt=""
                                    class="footer__link-img"
                                />
                                <p class="footer__link-text">JavaScript</p>
                            </li>
                            <li class="footer-list__item">
                                <img
                                    src="../assets/img/sass-logo.png"
                                    alt=""
                                    class="footer__link-img"
                                />
                                <p class="footer__link-text">Sass</p>
                            </li>
                            <li class="footer-list__item">
                                <img
                                    src="../assets/img/ts-logo.png"
                                    alt=""
                                    class="footer__link-img"
                                />
                                <p class="footer__link-text">TypeScript</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
