<div class="container">
    <!-- PC header -->
    <div class="header-inner">
        <nav class="navbar">
            <!-- Logo -->
            <div class="logo">
                <div class="logo__icon-wrap">
                    <a href="mailto:trunghoang.240500@gmail.com">
                        <img
                            src="./assets/icons/email-icon.svg"
                            alt=""
                            class="logo__icon"
                        />
                    </a>
                </div>
                <h2 class="logo__text">Portfolio</h2>
            </div>
            <a href="/">
                <img src="./assets/img/logo.png" alt="" class="header-logo" />
            </a>
            <!-- Navigator -->
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="#project" class="navbar__link">Projects</a>
                </li>
                <li class="navbar__item">
                    <a href="#journey" class="navbar__link">Journey</a>
                </li>
                <li class="navbar__item">
                    <a href="#service" class="navbar__link">Service</a>
                </li>
                <li class="navbar__item">
                    <a href="#contact" class="navbar__link">Contact</a>
                </li>
            </ul>

            <!-- Tablet/mobile menu -->
            <label for="menu-checkbox" class="toggle-menu">
                <img
                    src="./assets/icons/bar.svg"
                    alt=""
                    class="toggle-menu__icon"
                />
            </label>
        </nav>
    </div>

    <!-- Tablet/mobile header -->
    <div class="mobile-header">
        <input
            type="checkbox"
            name=""
            id="menu-checkbox"
            class="menu-checkbox"
            hidden
        />
        <!-- Overlay -->
        <label for="menu-checkbox" class="menu-overlay"></label>
        <!-- Menu content -->
        <div class="menu-drawer">
            <!-- Logo -->
            <div class="logo logo-mobile">
                <div class="logo__icon-wrap">
                    <a href="mailto:trunghoang.240500@gmail.com">
                        <img
                            src="./assets/icons/email-icon.svg"
                            alt=""
                            class="logo__icon"
                        />
                    </a>
                </div>
                <h2 class="logo__text">Portfolio</h2>
            </div>
            <!-- Navigator -->
            <ul class="navbar__list navbar__list-mobile">
                <li class="navbar__item navbar__item-mobile">
                    <a href="#project" class="navbar__link">Projects</a>
                </li>
                <li class="navbar__item navbar__item-mobile">
                    <a href="#journey" class="navbar__link">Journey</a>
                </li>
                <li class="navbar__item navbar__item-mobile">
                    <a href="#service" class="navbar__link">Service</a>
                </li>
                <li class="navbar__item navbar__item-mobile">
                    <a href="#contact" class="navbar__link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>
